<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="csharphelper_WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <csharphelper_WinApp.Properties.Settings>
            <setting name="Directory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Patterns" serializeAs="String">
                <value/>
            </setting>
            <setting name="WordFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value/>
            </setting>
            <setting name="PictureDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateRegistry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FromDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="ToDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Pattern" serializeAs="String">
                <value/>
            </setting>
            <setting name="NewExtension" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastLoadTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="Items" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Contents" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColorValues" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProductKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilePaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Level" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxSizeKb" serializeAs="String">
                <value/>
            </setting>
        </csharphelper_WinApp.Properties.Settings>
    </userSettings>
</configuration>
